*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
}

html{
    font-size: 62.5%;
}
body{
    background-image: url('/static/fondo.jpg'); 
}


#login{
    /* border-style: solid;
    border-color: black;
    border-width: thin; */
    padding: 10px;
    width: 100%;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    left: 35%;
    top: 30%;
    text-align: center;
}


body p{
    margin-bottom: 1rem;
}