<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema DABM</title>
    
</head>
<body>
    <p>
        Esto es un parrafo
    </p>
    <p>
        Esto es otro parrafo
    </p>
    <h1>Titulo 1</h1>
    <h2>Titulo 2</h2>
    <h3>Titulo 3</h3> 
    <input type="text"> 
    <input type="date">
    <input type="submit">
    <input type="number">
    <input type="password">
    <input type="email" name="correo" id="correo" autocomplete="email" required>
    <figure>
    <img src="https://escuelaing.s3.amazonaws.com/staging/images/logo-ecijg.width-380.png?AWSAccessKeyId=AKIAWFY3NGTFBJGCIWME&Signature=COXSAJbmHpEjpoPP1%2BBizc0JJtU%3D&Expires=1636469474" alt="logo escuela">
    <figcaption>Logo de la escuela</figcaption>
    </figure>
    <p>
        <select >
            <option value="1">Lunes</option>
            <option value="2">Martes</option>
            <option value="3">Miercoles</option>
        </select>
    </p>
    <p>
        <input type="button" value= 'Ingreso'>
    </p>
    <p>
        <input type="radio" name="sexo" value="M">Masculino  
        <input type="radio" name="sexo" value="F">Femenino
    </p>
    <p>
        <input type="checkbox" id="hipertension" value="hi">hipertension
        <input type="checkbox" id="Diabetes" value="hi">Diabetes
        
    </p>
    <table border="1">
        <tr> 
            <td>
                nombre
            </td>
            <td>
                tipo
            </td>
        </tr>
        <tr> 
            <td>
                Andres
            </td>
            <td>
                admin
            </td>
        </tr>
        <tr> 
            <td>
                daniel
            </td>
            <td>
                paciente
            </td>
        </tr>
    </table>
</body>
<footer>
    <p>
        copyright-DABM-2021
    </p>
</footer>
</html>