<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/flask/templates/style.css">
    <title>Ingreso al sistema</title>
</head>
<body>
    <div id="login">
        <form action="/validar" method="post"> 
            <img src="https://escuelaing.s3.amazonaws.com/staging/images/logo-ecijg.width-380.png?AWSAccessKeyId=AKIAWFY3NGTFBJGCIWME&Signature=COXSAJbmHpEjpoPP1%2BBizc0JJtU%3D&Expires=1636469474" alt="logo escuela">
            <p>Usuario: <input type="text" name="usuario"></p>
            <p>contraseña: <input type="password" name="password"></p>
            <p><input type="submit" value="Ingresar"></p>
        </form> 
    </div>
</body>
</html>