<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>monitor de temperatura</title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
            setTimeout(function(){
                window.location.reload(1)
            },1000)
        </script>
</head>
<body style="height: 100%;">
    <!-- {{ lectura }}
    {{ datos }} -->
    <p>
        <h4 class="ml-4 mt-0 text-center rounded" style="width: 400px; background: #563d7c; color: white;">MONITOR DE TEMPERATURA</h4>
    </p>
    <p><button type="button" class="btn btn-danger ml-4" style="width: 100px;height: 50px;" value="Página anterior" onclick="history.go(-1);">volver</button></p>
        <br> <!--salto de linea-->
        <p>
        <table class="table">
            <thead> <!--table head-->
              <tr> <!--table record, la fila--> 
                <th>Rango</th> <!--columnas-->
                <th>Minimo</th>
                <th>Maximo</th>
              </tr>
            </thead>
            <tbody> <!--table body-->
                 
              <tr class="table-primary">
                <td>{{ datos[0][0]}}</td>
                <td>{{ datos[0][1]}}</td>
                <td>{{ datos[0][2]}}</td>
              </tr>
              <tr class="table-success">
                <td>{{ datos[1][0]}}</td>
                <td>{{ datos[1][1]}}</td>
                <td>{{ datos[1][2]}}</td>
              </tr>
              <tr class="table-danger">
                <td>{{ datos[2][0]}}</td>
                <td>{{ datos[2][1]}}</td>
                <td>{{ datos[2][2]}}</td>
              </tr>
            </tbody>
          </table>
        </p>
        <p class="ml-4">Temperatura: {{ lecturas }}</p>
        <p>
            <table class="ml-4">
                <tr>
            {% for color in colores %}
                {% if color == 1 %}
                <td>
                  <div style="width: 50px;height: 50px;background-color: lightblue;"></div>
                </td>
                {% endif %}
                {% if color == 2 %}
                <td>
                  <div style="width: 50px;height: 50px;background-color: lightgreen;"></div>
                </td>
                {% endif %}
                {% if color == 3 %}
                <td>
                  <div style="width: 50px;height: 50px;background-color: red;"></div>
                </td>
                {% endif %}
            {% endfor %}
                </tr>
            </table>
        </p>
    
</body>
</html>